<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img id="avatar" class="2x" src="https://avatars.githubusercontent.com/u/56410978?s=460&u=b3cf69e2c83e8e192c66c1d08e184ddd9ec6a005&v=4"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="https://avatars.githubusercontent.com/u/56410978?s=460&u=b3cf69e2c83e8e192c66c1d08e184ddd9ec6a005&v=4"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
    </section>
</div>